.table {
   gap: 2rem;
}

input {
    padding: 0.5rem;
    border: 0.5px solid rgb(92, 62, 121);
    border-radius: 0.5rem;
}

td {
    border: 0.5px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba($color: white, $alpha: 0.4);
}

.button {
    padding: 0.4rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 0.5px solid rgb(92, 62, 121);
    border-radius: 0.5rem;
    color: white;
    background-image: linear-gradient(to left, rgb(61, 6,158), rgb(224, 18,131));
    font-size: 1rem;
}

.button:hover {
    background-color: rgb(192, 192, 192);
    opacity: 0.8;
}

.button:hover {
    background-color: black;
}

